<!-- <p>signin works!</p> -->
<div class="container-fluid">
    <div class="row bg-secondary d-flex justify-content-center pt-3">
        <div class="col-sm-4">
            <label for="" class="text-white">First Name</label>
            <input type="text" placeholder="First Name" name="" id="" class="form-control text-info">
        </div>
        <div class="col-sm-4">
            <label for="" class="text-white">Last Name</label>
            <input type="text" placeholder="Last Name" name="" id="" class="form-control text-info">
        </div>
        <div class="col-sm-8 pt-2">
            <label for="" class="text-white">Email</label>
            <input type="text" placeholder="Ex. abcd@mail.com" name="" id="" class="form-control text-info">
        </div>
        <div class="col-sm-8 pt-2">
            <label for="" class="text-white">Create Password</label>
            <input type="password" name="" id="" class="form-control text-info">
        </div>
        <div class="col-sm-8 pt-2">
            <label for="" class="text-white">Cornform Password</label>
            <input type="password" name="" id="" class="form-control text-info">
        </div>
        <div class="row d-flex justify-content-center pt-3 pb-3">
            <button class="btn btn-success col-sm-2">Login</button>
        </div>
    </div>
</div>

