<!-- <p>contact-us works!</p> -->
<div class="container-fluid">
    <div class="row bg-secondary d-flex justify-content-center">
        <div class="col-sm-8 mt-3 m-3">
            <label for="" class="text-white">Name</label>
            <input type="text" placeholder="Full Name" name="" id="" class="form-control text-info">
            <label for="" class="text-white">Email</label>
            <input type="text" placeholder="Ex. abcd@mail.com" name="" id="" class="form-control text-info">
            <label for="" class="text-white">Feedback</label>
            <textarea class="form-control text-info" placeholder="Give your Feedback here !!!" rows="3"></textarea>
        </div>
        <div class="row d-flex justify-content-center mb-3">
            <button class="btn btn-success col-sm-2">Submit</button>
        </div>
    </div>
</div>
